In [2]:
import csv

In [3]:
open_file = open('student data.csv',mode='r')
open_file

In [4]:
read = csv.reader(open_file)
read

In [5]:
data = list(read)
data

[['roll no', 'Name', 'Chemistry', 'Physics', 'Math'],
 ['101', 'Aliza', '50', '23', '87'],
 ['102', 'Fareed', '45', '24', '88'],
 ['103', 'Basit', '46', '25', '89'],
 ['104', 'Abdullah', '47', '26', '90'],
 ['105', 'Ali', '48', '27', '67'],
 ['106', 'Mubashir', '49', '28', '68'],
 ['107', 'Waleed', '50', '29', '69'],
 ['108', 'Mansoor', '51', '30', '70'],
 ['109', 'Zain', '52', '31', '71'],
 ['110', 'Mohsin', '53', '67', '72'],
 ['111', 'Shahmeer', '54', '68', '73'],
 ['112', 'Rao', '55', '69', '74'],
 ['113', 'Aurangzeb', '56', '70', '75'],
 ['114', 'Zeeshan', '57', '71', '76'],
 ['115', 'Hamna', '58', '72', '77'],
 ['116', 'Hamza', '59', '73', '78'],
 ['117', 'Khalid', '60', '74', '79'],
 ['118', 'Behroz', '61', '75', '80'],
 ['119', 'Justin', '62', '76', '81'],
 ['120', 'Danish', '63', '77', '82'],
 ['121', 'Kainat', '64', '78', '83'],
 ['122', 'Sameer', '65', '79', '84'],
 ['123', 'Raza', '66', '80', '85'],
 ['124', 'Kumar', '67', '81', '86'],
 ['125', 'Komal', '68', '82', '87'],
 ['126', 'Erum', '69', '83', '88'],
 ['127', 'Faiza', '70', '84', '89'],
 ['128', 'Saeed', '71', '85', '90'],
 ['129', 'Waqar', '72', '86', '91'],
 ['130', 'Wali', '73', '87', '92'],
 ['131', 'Wajid', '74', '88', '93'],
 ['132', 'Waseeb', '75', '89', '94'],
 ['133', 'Shiza', '76', '90', '95'],
 ['134', 'Shabina', '77', '91', '96'],
 ['135', 'Shazain', '78', '55', '97'],
 ['136', 'Lubna', '79', '61', '98'],
 ['137', 'Laiba', '80', '88', '78'],
 ['138', 'Khursheed', '81', '56', '45'],
 ['139', 'Ali', '82', '89', '46'],
 ['140', 'Aiza', '83', '45', '89'],
 ['141', 'Aiman', '84', '92', '78'],
 ['142', 'Yasmeen', '85', '36', '56'],
 ['143', 'Tasbeel', '86', '78', '78'],
 ['144', 'Laraib', '87', '56', '54'],
 ['145', 'Saleem', '88', '78', '78'],
 ['146', 'Bismil', '89', '89', '46'],
 ['147', 'Batool', '90', '56', '79'],
 ['148', 'Iqra', '91', '33', '46'],
 ['149', 'Zarnish', '92', '78', '45'],
 ['150', 'Zara', '83', '45', '56']]

In [6]:
cut = data[0]
cut

['roll no', 'Name', 'Chemistry', 'Physics', 'Math']

In [7]:
update_data = data[1:]
update_data

[['101', 'Aliza', '50', '23', '87'],
 ['102', 'Fareed', '45', '24', '88'],
 ['103', 'Basit', '46', '25', '89'],
 ['104', 'Abdullah', '47', '26', '90'],
 ['105', 'Ali', '48', '27', '67'],
 ['106', 'Mubashir', '49', '28', '68'],
 ['107', 'Waleed', '50', '29', '69'],
 ['108', 'Mansoor', '51', '30', '70'],
 ['109', 'Zain', '52', '31', '71'],
 ['110', 'Mohsin', '53', '67', '72'],
 ['111', 'Shahmeer', '54', '68', '73'],
 ['112', 'Rao', '55', '69', '74'],
 ['113', 'Aurangzeb', '56', '70', '75'],
 ['114', 'Zeeshan', '57', '71', '76'],
 ['115', 'Hamna', '58', '72', '77'],
 ['116', 'Hamza', '59', '73', '78'],
 ['117', 'Khalid', '60', '74', '79'],
 ['118', 'Behroz', '61', '75', '80'],
 ['119', 'Justin', '62', '76', '81'],
 ['120', 'Danish', '63', '77', '82'],
 ['121', 'Kainat', '64', '78', '83'],
 ['122', 'Sameer', '65', '79', '84'],
 ['123', 'Raza', '66', '80', '85'],
 ['124', 'Kumar', '67', '81', '86'],
 ['125', 'Komal', '68', '82', '87'],
 ['126', 'Erum', '69', '83', '88'],
 ['127', 'Faiza', '70', '84', '89'],
 ['128', 'Saeed', '71', '85', '90'],
 ['129', 'Waqar', '72', '86', '91'],
 ['130', 'Wali', '73', '87', '92'],
 ['131', 'Wajid', '74', '88', '93'],
 ['132', 'Waseeb', '75', '89', '94'],
 ['133', 'Shiza', '76', '90', '95'],
 ['134', 'Shabina', '77', '91', '96'],
 ['135', 'Shazain', '78', '55', '97'],
 ['136', 'Lubna', '79', '61', '98'],
 ['137', 'Laiba', '80', '88', '78'],
 ['138', 'Khursheed', '81', '56', '45'],
 ['139', 'Ali', '82', '89', '46'],
 ['140', 'Aiza', '83', '45', '89'],
 ['141', 'Aiman', '84', '92', '78'],
 ['142', 'Yasmeen', '85', '36', '56'],
 ['143', 'Tasbeel', '86', '78', '78'],
 ['144', 'Laraib', '87', '56', '54'],
 ['145', 'Saleem', '88', '78', '78'],
 ['146', 'Bismil', '89', '89', '46'],
 ['147', 'Batool', '90', '56', '79'],
 ['148', 'Iqra', '91', '33', '46'],
 ['149', 'Zarnish', '92', '78', '45'],
 ['150', 'Zara', '83', '45', '56']]

In [8]:
update_data[0][3]

'23'

In [9]:
math = []
for i in update_data:
    math.append(int(i[4]))
math

[87,
 88,
 89,
 90,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 78,
 45,
 46,
 89,
 78,
 56,
 78,
 54,
 78,
 46,
 79,
 46,
 45,
 56]

In [11]:
sum(math)

3868

In [12]:
average = sum(math)/len(math)
average

77.36

In [13]:
for p in update_data:
    chem = int(p[2])
    phy = int(p[3])
    math = int(p[4])
    percentage = round((chem+phy+math)/300*100)
    p.append(percentage)

update_data

[['101', 'Aliza', '50', '23', '87', 53],
 ['102', 'Fareed', '45', '24', '88', 52],
 ['103', 'Basit', '46', '25', '89', 53],
 ['104', 'Abdullah', '47', '26', '90', 54],
 ['105', 'Ali', '48', '27', '67', 47],
 ['106', 'Mubashir', '49', '28', '68', 48],
 ['107', 'Waleed', '50', '29', '69', 49],
 ['108', 'Mansoor', '51', '30', '70', 50],
 ['109', 'Zain', '52', '31', '71', 51],
 ['110', 'Mohsin', '53', '67', '72', 64],
 ['111', 'Shahmeer', '54', '68', '73', 65],
 ['112', 'Rao', '55', '69', '74', 66],
 ['113', 'Aurangzeb', '56', '70', '75', 67],
 ['114', 'Zeeshan', '57', '71', '76', 68],
 ['115', 'Hamna', '58', '72', '77', 69],
 ['116', 'Hamza', '59', '73', '78', 70],
 ['117', 'Khalid', '60', '74', '79', 71],
 ['118', 'Behroz', '61', '75', '80', 72],
 ['119', 'Justin', '62', '76', '81', 73],
 ['120', 'Danish', '63', '77', '82', 74],
 ['121', 'Kainat', '64', '78', '83', 75],
 ['122', 'Sameer', '65', '79', '84', 76],
 ['123', 'Raza', '66', '80', '85', 77],
 ['124', 'Kumar', '67', '81', '86', 78],
 ['125', 'Komal', '68', '82', '87', 79],
 ['126', 'Erum', '69', '83', '88', 80],
 ['127', 'Faiza', '70', '84', '89', 81],
 ['128', 'Saeed', '71', '85', '90', 82],
 ['129', 'Waqar', '72', '86', '91', 83],
 ['130', 'Wali', '73', '87', '92', 84],
 ['131', 'Wajid', '74', '88', '93', 85],
 ['132', 'Waseeb', '75', '89', '94', 86],
 ['133', 'Shiza', '76', '90', '95', 87],
 ['134', 'Shabina', '77', '91', '96', 88],
 ['135', 'Shazain', '78', '55', '97', 77],
 ['136', 'Lubna', '79', '61', '98', 79],
 ['137', 'Laiba', '80', '88', '78', 82],
 ['138', 'Khursheed', '81', '56', '45', 61],
 ['139', 'Ali', '82', '89', '46', 72],
 ['140', 'Aiza', '83', '45', '89', 72],
 ['141', 'Aiman', '84', '92', '78', 85],
 ['142', 'Yasmeen', '85', '36', '56', 59],
 ['143', 'Tasbeel', '86', '78', '78', 81],
 ['144', 'Laraib', '87', '56', '54', 66],
 ['145', 'Saleem', '88', '78', '78', 81],
 ['146', 'Bismil', '89', '89', '46', 75],
 ['147', 'Batool', '90', '56', '79', 75],
 ['148', 'Iqra', '91', '33', '46', 57],
 ['149', 'Zarnish', '92', '78', '45', 72],
 ['150', 'Zara', '83', '45', '56', 61]]

In [14]:
data[0].append("percentage")
data

[['roll no', 'Name', 'Chemistry', 'Physics', 'Math', 'percentage'],
 ['101', 'Aliza', '50', '23', '87', 53],
 ['102', 'Fareed', '45', '24', '88', 52],
 ['103', 'Basit', '46', '25', '89', 53],
 ['104', 'Abdullah', '47', '26', '90', 54],
 ['105', 'Ali', '48', '27', '67', 47],
 ['106', 'Mubashir', '49', '28', '68', 48],
 ['107', 'Waleed', '50', '29', '69', 49],
 ['108', 'Mansoor', '51', '30', '70', 50],
 ['109', 'Zain', '52', '31', '71', 51],
 ['110', 'Mohsin', '53', '67', '72', 64],
 ['111', 'Shahmeer', '54', '68', '73', 65],
 ['112', 'Rao', '55', '69', '74', 66],
 ['113', 'Aurangzeb', '56', '70', '75', 67],
 ['114', 'Zeeshan', '57', '71', '76', 68],
 ['115', 'Hamna', '58', '72', '77', 69],
 ['116', 'Hamza', '59', '73', '78', 70],
 ['117', 'Khalid', '60', '74', '79', 71],
 ['118', 'Behroz', '61', '75', '80', 72],
 ['119', 'Justin', '62', '76', '81', 73],
 ['120', 'Danish', '63', '77', '82', 74],
 ['121', 'Kainat', '64', '78', '83', 75],
 ['122', 'Sameer', '65', '79', '84', 76],
 ['123', 'Raza', '66', '80', '85', 77],
 ['124', 'Kumar', '67', '81', '86', 78],
 ['125', 'Komal', '68', '82', '87', 79],
 ['126', 'Erum', '69', '83', '88', 80],
 ['127', 'Faiza', '70', '84', '89', 81],
 ['128', 'Saeed', '71', '85', '90', 82],
 ['129', 'Waqar', '72', '86', '91', 83],
 ['130', 'Wali', '73', '87', '92', 84],
 ['131', 'Wajid', '74', '88', '93', 85],
 ['132', 'Waseeb', '75', '89', '94', 86],
 ['133', 'Shiza', '76', '90', '95', 87],
 ['134', 'Shabina', '77', '91', '96', 88],
 ['135', 'Shazain', '78', '55', '97', 77],
 ['136', 'Lubna', '79', '61', '98', 79],
 ['137', 'Laiba', '80', '88', '78', 82],
 ['138', 'Khursheed', '81', '56', '45', 61],
 ['139', 'Ali', '82', '89', '46', 72],
 ['140', 'Aiza', '83', '45', '89', 72],
 ['141', 'Aiman', '84', '92', '78', 85],
 ['142', 'Yasmeen', '85', '36', '56', 59],
 ['143', 'Tasbeel', '86', '78', '78', 81],
 ['144', 'Laraib', '87', '56', '54', 66],
 ['145', 'Saleem', '88', '78', '78', 81],
 ['146', 'Bismil', '89', '89', '46', 75],
 ['147', 'Batool', '90', '56', '79', 75],
 ['148', 'Iqra', '91', '33', '46', 57],
 ['149', 'Zarnish', '92', '78', '45', 72],
 ['150', 'Zara', '83', '45', '56', 61]]

In [15]:
open_file = open("data1.csv",mode='w',newline='')
open_file

In [16]:
writer = csv.writer(open_file)
writer

In [17]:
writer.writerows(data)
open_file.close()